<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Document</title>
</head> -->
<!-- <body> -->
    <div class="color1"></div>
    <div class="color2"></div>

   <img src="logoipsum-329 1.png" alt="logo">
   <div class="div1">
    <form>
    <input class="userName" type="text" placeholder="User Name">
    <input class="password" type="password" placeholder="password">
    <!-- <div class="error-box" *ngIf="showError">
        <span class="error-icon"><i class="fa fa-exclamation-circle"></i></span>
        <span class="error-text">Invalid credentials. Please try again.</span>
      </div> -->
    <button class="login" type="button" (click)="handleLogin()">SIGN IN</button>
      <div class="frgtpswd"><a href="#" >Forgot Password?</a></div>
    </form>
   </div>
<!-- </body> -->
<footer class="footer">
    <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
    </div>
    <p class="copyright"> <i class="fa-regular fa-copyright"></i> Copyright Dyaz Innovate 2023. All rights reserved.</p>
</footer>

<!-- </html> -->