* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* :root {
    --primary-orange: #d97742;
    --light-bg: #f4f7f9;
    --table-header: #e9f1f7;
} */

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-nav {
    display: flex;
    background-color:  #d97742;
    color: white;
    height: 60px;
    align-items: center;
}

.logo-area {
    width: 240px;
    padding: 10px 20px;
}

.mini-logo {
    height: 35px;
    
}

.stepper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 13px;
}

.step, .stepactive {
    display: flex;
    align-items: center;
    gap: 8px;
    opacity: 0.7;
}

.stepactive {
    opacity: 1;
}
.complete{
    border:1px solid green;
}
.circle {
    width: 22px;
    height: 22px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
}
.user{
  margin:5px;
  padding:5px;
  font-size: small;
}
.user:hover{
    cursor:pointer;
}
.logtime{
      font-size: x-small;
}
.stepactive .circle {
    background-color: white;
    color: #d97742;
}

.line {
    width: 40px;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.4);
}

.main-body {
    display: flex;
    flex: 1;
    /* overflow: hidden; */
}

.sidebar {
    width: 240px;
    background-color: #d97742;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 600;
}

.menu-item.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.nav-links {
    list-style: none;
    padding-left: 0;
}

.nav-links li {
    padding: 10px 40px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

.nav-links li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.content-wrapper {
background-color:#F2F3F2;
width:100vw;
   
}
.content{
    background-color: white;
    margin-left:20px;
    margin-top:20px;
    width:81vw;
    height:85vh;
     box-shadow: 0px 0px 5px #888;
}












@media screen and (max-width: 390px) {
    .top-nav {
        height: auto;
        flex-direction: column;
    }
     .logo-area {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(255,255,255,0.2);
    }
    .stepper {
        padding: 10px;
        flex-wrap: wrap; 
        justify-content: center;
    }
     .stepper .line {
        display: none;
     }
      .main-body {
        flex-direction: column;
      }
        .sidebar {
        width: 100%;
        height: auto;
    }
    
    .filter-bar {
        flex-direction: column;
           align-items: stretch;
    }
       .filter-group input, 
    .filter-group select {
        width: 100%;
    }
     .btn-search {
        width: 100%;
        justify-content: center;
    }
    
    .content-header {
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }


}
@media screen and (max-width: 1024px) {
    .logo-area {
        width: 200px; 
    }
    .sidebar {
        width: 200px;
    }
     .stepper span {
        font-size: 11px;
     }
      
    .filter-bar {
        flex-wrap: wrap;
        gap: 15px;
    }
    .data-table {
        display: block;
        overflow-x: auto; 
    } 

}