 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="dashboard-wrapper">
        <header class="top-nav">
            <div class="logo-area">
                <img src="logoipsum-white.png" alt="logo" class="mini-logo">
            </div>
            <div class="stepper">
                <div class="stepactive">
                    <div class="line complete"></div>
                    <div class="circle">1</div>
                    <span>Product Info</span>
                </div>
                 <div class="line"></div>
                <div class="step">
                    <div class="circle">2</div>
                    <span>Manage Document</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">3</div>
                    <span>eCTD Submission</span>
                </div>
                 <div class="line"></div>
                <div class="step">
                    <div class="circle">4</div>
                    <span>Validation</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">5</div>
                    <span>Dispatch</span>
                    <div class="line"></div>
                </div>
            </div>
            <div class="user" (click)="moveToLogin()"><pre><p>Paul Rudd    <i class="fa-solid fa-right-from-bracket"></i></p></pre><p>Author</p><p class="logtime">Last Login 23:05 UCT</p></div>
        </header>
        <div class="main-body">
            <aside class="sidebar">
                <div class="menu-group" [class.open]="isConfigOpen"></div>
                <div class="menu-item active"  (click)="toggleConfig()">
                    <span>Configurations</span>
                            <i class="fa" [ngClass]="isConfigOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
               
                </div>
                <ul class="nav-links" *ngIf="isConfigOpen">
                    <li class="active-sub">Templates</li>
                </ul>
                <div class="menu-group" [class.open]="isDocPrepOpen"></div>
                 <div class="menu-item active" (click)="toggleDocPrep()">
                    <span>Document Prep</span>
                    <i class="fa" [ngClass]="isDocPrepOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    
                 </div>
                 <ul class="nav-links" *ngIf="isDocPrepOpen">
                    <li class="active-sub">Products</li>
                         <li class="active-sub">Applications</li>
                              <li class="active-sub">Sequences</li>
                </ul>
            </aside>

            <main class="content-wrapper">
                <div class="content">
                    <div class="content1">USA-ESHI</div>
                    <div class="content2">
                    <div class="sidepanel1">
                            <div class="menu-group" [class.open]="isGeneralOpen"></div>
                            <div class="item"  (click)="toggleGeneral()">
                                <span>general info</span>
                                        <i class="fa" [ngClass]="isGeneralOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                        
                            </div>
                            <ul class="nav-links" *ngIf="isGeneralOpen">
                                <li class="genlist"><p>Name</p><p>1-2-cover letter</p></li>
                                <li class="genlist"><p>Created By </p><p>Paul</p></li>
                                <li class="genlist"><p>Created on</p><p>27-12-2023 19:38 UTC</p></li>
                                 <li class="genlist"><p>Created on</p ><p>27-12-2023 19:38 UTC</p></li>
                                  <li class="genlist"><p>Version </p> <p>1.0</p></li>
                                   <li class="genlist"><p>Life Cycle </p><p> General</p></li>
                                <li class="genlist"><p>Status</p> <p>Approved</p></li>
                                <li class="genlist"><p>Language</p><p>English</p></li>
                                 <li class="genlist"><p>Ready For Publishing</p> <p>Yes</p></li>
                                  <li class="genlist"><p>Book Marks Edited</p><p> Yes</p></li>
                                   <li class="genlist"><p>Tags</p> <p> -</p></li>
                            </ul>
                                
                                <div class="menu-group" [class.open]="isVarOpen"></div>
                                <div class="item"  (click)="toggleVar()">
                                    <span>Variables</span>
                                    <i class="fa" [ngClass]="isVarOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                                </div>
                                <ul class="nav-links" *ngIf="isVarOpen">
                                    <li class="varlist">Variables List</li>
                                </ul>
                                <div class="menu-group" [class.open]="isCommentsOpen"></div>
                                <div class="item"  (click)="toggleComments()">
                                    <span>Comments</span>
                                    <i class="fa" [ngClass]="isCommentsOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
                                </div>
                                <ul class="nav-links" *ngIf="isCommentsOpen">
                                    <li class="commentslist">Comments List</li>
                                </ul>
                    </div>
                    <div class="sidepanel2">
                     <div class="searchbar"><i class="fa fa-search"></i><input type="search" placeholder="search"></div>
                     <div class="pdf"><img src="1134ca0ab6a2735bae84b8de086929baf12372d3.png"></div>
                    </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

