 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<div class="dashboard-wrapper">
        <header class="top-nav">
            <div class="logo-area">
                <img src="logoipsum-white.png" alt="logo" class="mini-logo">
            </div>
            <div class="stepper">
                <div class="stepactive">
                    <div class="line complete"></div>
                    <div class="circle">1</div>
                    <span>Product Info</span>
                </div>
                 <div class="line"></div>
                <div class="step">
                    <div class="circle">2</div>
                    <span>Manage Document</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">3</div>
                    <span>eCTD Submission</span>
                </div>
                 <div class="line"></div>
                <div class="step">
                    <div class="circle">4</div>
                    <span>Validation</span>
                </div>
                <div class="line"></div>
                <div class="step">
                    <div class="circle">5</div>
                    <span>Dispatch</span>
                    <div class="line"></div>
                </div>
            </div>
            <div class="user" (click)="moveToLogin()"><pre><p>Paul Rudd    <i class="fa-solid fa-right-from-bracket"></i></p></pre><p>Author</p><p class="logtime">Last Login 23:05 UCT</p></div>
        </header>
        <div class="main-body">
            <aside class="sidebar">
                <div class="menu-group" [class.open]="isConfigOpen"></div>
                <div class="menu-item active"  (click)="toggleConfig()">
                    <span>Configurations</span>
                            <i class="fa" [ngClass]="isConfigOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
               
                </div>
                <ul class="nav-links" *ngIf="isConfigOpen">
                    <li class="active-sub">Templates</li>
                </ul>
                <div class="menu-group" [class.open]="isDocPrepOpen"></div>
                 <div class="menu-item active" (click)="toggleDocPrep()">
                    <span>Document Prep</span>
                    <i class="fa" [ngClass]="isDocPrepOpen ? 'fa-chevron-up' : 'fa-chevron-down'"></i>
    
                 </div>
                 <ul class="nav-links" *ngIf="isDocPrepOpen">
                    <li class="active-sub">Products</li>
                         <li class="active-sub">Applications</li>
                              <li class="active-sub">Sequences</li>
                </ul>
            </aside>

            <main class="content-wrapper">
                <div class="content">
                    
                </div>
            </main>
        </div>
    </div>

