.modal-wrapper{
    height: 70vh;
        background-color: white;
}

.modal-header {
    border-bottom: 1px solid #eee;
      
}

.modal-header h2 { 
    margin: 0;
     font-size: 18px;
      color: #333;
  
     }

.modal-body { 
    padding: 25px; 
   
}

.form-row {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group { 
    display: flex; 
    flex-direction: column;
     gap: 5px; 
     flex: 1;
 }

.input-group label {
     font-size: 13px; 
     color: #888; 
     font-weight: 500;
     }


.btn-outline-orange {
    height:30px;
    background:  #D97742;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    border-style: none;
}

.modal-footer {
    position:absolute;
    bottom:20px;
    margin-left:250px;
    padding: 15px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
        background-color: white;
}


.modify {
    height:30px;
     background: #E67E22;
     color:white;
     border-style: none;
    }
.save {
      height:30px;
     background: #E67E22;
        color:white;
        border-style: none;
     }
.cancel { 
      height:30px;
    background:lightgrey; 
    color:black;
    border-style: none;
 }
 @media screen and (max-width: 390px) {
    .modal-footer {
    margin-right:10px;
   
}
 }
 .tree-list {
  list-style: none;
  padding-left: 20px;
  position: relative;
}

.tree-list ul::before {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 1px;
  height: 100%;
  background: #ccc; 
}
.tree-node {
  padding: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.tree-node i {
  color: #9dbce8; 
  }

.tree-list li {
  position: relative;
}

.tree-list li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -12px;
  width: 12px;
  height: 1px;
  background: #ccc;
}
.gif{
  height:100px;
  width:120px;
 margin-left:200px;
 margin-top:40px;
}